<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Recipe Name</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown  class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.desc || 'description here'}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.name || 'name here'}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img class="image-responsive img-rounded" style="width: 300px" [src]="recipe.imagePath || ''" [alt]="recipe.name || ''">
  </div>
</div>
